header.base {
    background-color: #004080; 
    color: white; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

header .menu {
    font-size: 22px;
    font-weight: bold;
    
}
ol li a {
    color: white;
    text-decoration: none; 
}
ol li a:hover {
    color: rgb(218, 50, 50); 
}

header img {
    border-radius: 50%; 
    margin-left: 850px; 
    display: flex;
}
header h4 {
    color: white; 
    font-size: 18px;
    font-weight: bold;
 } 
 body {
       height: 100vh; 
 }
nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

nav a:hover {
    background-color: #0066cc; 
}

ol{
    text-decoration: none; 
}

main {
    max-width: 9000px;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

main h5 {
    font-size: 20px;
    color: #333;
    margin-top: 20px;
}

main p {
    line-height: 1.6;
    font-size: 16px;
    color: #444;
}

.img_plataformas {
    width: 180px; 
    margin: 15px;
    transition: transform 0.3s;
}

.img_plataformas:hover {
    transform: scale(1.1); 
}

footer.base {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

